<div (click)="expanded = !expanded" [ngClass]="isSelected ? 'selected' : 'not-selected'">
    <div *ngIf="isSelected">Maker selected: {{ selected }}</div>
    <div *ngIf="!isSelected">Select your maker...</div>
</div>
<div *ngIf="expanded">
    <div *ngIf="!errorState && !loading" class="list">
        <div *ngFor="let make of makes">
            <div (click)="selectMake(make)" [ngClass]="selected === make ? 'list-item-selected' : 'list-item'" >{{ make }}</div>
        </div>
    </div>
    <div *ngIf="errorState && !loading">
        <app-error [errorMessage]="errorMessage"></app-error>
    </div>
    <div *ngIf="loading">
        Loading...
    </div>
</div>