<div (click)="expanded = !expanded" [ngClass]="isSelected ? 'selected' : 'not-selected'">
    <span *ngIf="isSelected">Model selected: {{ selected }}</span>
    <span *ngIf="!isSelected">Select your model...</span>
</div>
<div *ngIf="expanded">
    <div *ngIf="!errorState && !loading" class="list">
        <div *ngFor="let model of models">
            <div (click)="selectModel(model)" class="list-item">{{ model }}</div>
        </div>
        <div *ngIf="models.length == 0" class="empty-list">
            There are no models for this maker.
        </div>
      </div>
    <div *ngIf="errorState && !loading">
      <app-error [errorMessage]="errorMessage"></app-error>
    </div>
    <div *ngIf="loading">
        Loading...
    </div>
</div>