/* You can add global styles to this file, and also import other style files */
@import 'variables';

.not-selected {
    display: flex;
    flex-direction: row;
    background-color: $contrast;
    border-radius: 16px;
    padding: 16px;
}

.selected {
    display: flex;
    flex-direction: row;
    background-color: $main;
    border-radius: 16px;
    padding: 16px;
}

.list-item {
    margin: 8px;
    padding: 16px;
    border: 2px solid $contrast;
    border-radius: 16px;
}

.list-item-selected {
    margin: 8px;
    padding: 16px;
    border: 2px solid $main;
    background-color: $main;
    border-radius: 16px;
}

.list {
    display: flex;
    flex-flow: column wrap;
}

.list-row {
    display: flex;
    flex-flow: row wrap;
}

.empty-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $contrast;
    border-radius: 0px 0px 16px 16px;
    margin: 0px 16px;
    padding: 16px;
}

@media screen and (min-width: 800px) {
}